@import './fonts-var-mixin';
@import './header';

.weather-container {
  position: relative;
  margin: 0;
  padding: 150px 0;
  background-color: $black;
  color: $white;
  z-index: 20;
  height: 100vh;
  right: 0;
  transform: translateY(100%);
  transition: right 1.2s ease, transform 1.2s ease, position 1.2s ease;
  &.active {
    right: 300px;
  }
  .content {
    @include flex-align;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    form {
      display: flex;
      justify-content: center;
      input {
        height: 40px;
        border: none;
        border-radius: 5px 0 0 5px;
        padding: 10px;
      }
      button {
        height: 40px;
        width: 40px;
        background-color: $green;
        color: $white;
        border: none;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        transition: 0.5s ease;
        &:hover {
          background-color: $white;
          color: $green;
        }
      }
    }
    h2 .fa-map-marker-alt {
      color: $green;
    }
    .data-container {
      border: 1px solid white;
      width: 500px;
      .today {
        border: 1px solid green;
        @include flex-align;
        justify-content: space-between;
        height: 100%;
        .today-type {
          border: 1px solid white;
          height: 100%;
          .main-temp {
            font-size: 30px;
          }
        }
      }
    }
  }
}