@import './fonts-var-mixin';
@import './header';

.weather-container {
  position: relative;
  margin: 0;
  padding: 100px 0;
  background-color: $white;
  z-index: 20;
  height: 100vh;
  right: 0;
  transform: translateY(100%);
  transition: right 1.2s ease, transform 1.2s ease, position 1.2s ease;
  &.active {
    right: 300px;
  }
  .content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
    
    h2 {
      font-size: 3em;
      color: $black;
    }
    
    p {
      font-size: 1.5em;
      color: $black;
    }
  }
}